:root{
    --backgroundColor:white;
    --widthButton:10rem;
    --widthImg:50%;
    --widthImgCarrousel:70%;
    --fontFamily:"Montserrat", serif;
    
}

*{
    margin:0;
    padding: 0;
    font-family: var(--fontFamily);
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado{
    display: flex;
    font-style: 1rem;
    color: aqua;
    font-family: var(--fontFamily);
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundColor);
    margin-bottom: 10rem;   
}

.encabezado_titulo{
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.encabezado_botones_lista{
    display: flex;
    list-style-type: none;
}
.encabezado_boton_lista_a{
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.titulo{
    background-color: black;
    text-align: center;
    color: white;
    padding: 1rem;    
}   

.boton{
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.35rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: var(--widthButton);
    align-items: center;
    justify-content: center;
}