.cuadrado {
    width: 20rem;
    height: 20rem;
    background-color: blue;
    margin-left: 50rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.boton {
    background-color: green;
    margin-left: 50rem;
    color: aliceblue;
    width: 20rem;
    border-radius: 0.35rem;
    height: 3rem;
    text-align: center;
    margin-top: 3rem;
    padding: 0.7rem;
}